.container{ 
    height:300px;
    width:80%;
    border:2px solid black;
    margin-left:50px;
    display: flex;
    background-color:aquamarine;
   /*flex-direction: row-reverse;
   flex-direction: column-reverse;
   flex-direction: column;*/
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap-reverse;
   

}
.container div{
    height: 100px;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 1.5em;

}