p+h1{
    /*sibiling used in style */
    color: red;
}
p>h1{
    /*child elements*/
    color: green;
}
/*attribute selecter nth-type-text ya nath-type-password*/
input[type="text"]{
    color:red;
}
input[type="password"]
{
    color: green;
}