h1{
     text-align: center;
    font-weight: 200;
    text-decoration: dotted;
    line-height:5%;
    letter-spacing: normal;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
  /* text-align:-
    text-align: center;
    text-align: end;
    text-align: justify;
    text-align: right;
    text-align: start;
    font-weight:-
    font-weight: 100;
     font-weight: 200;
    font-weight: bold;
    font-weight: bolder;
    font-weight: normal;
    text-decoration:-
    text-decoration: overline;
    text-decoration: dotted;
    text-decoration: double;
    text-decoration: line-through;
    text-decoration: none;
    text-decoration: underline;
    text-overflow:-
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow: unset;
    line-height:-
     line-height: normal;
     line-height: 0cqb;
     line-height: 0%;
     letter-spaciing:-
    letter-spacing: 5px;
    letter-spacing: 0cm;
    letter-spacing: 0cqh;
    letter-spacing: 0dvb;
    font-size:-
    font-size: medium;
    font-size: smaller;
    font-weight: 400;
    font-size: x-large;
    font-size: xx-large;
    font-size: xx-small;
    font-size: 10%;
    font-size: 0cm;*/
   

}